<h1>Edit Article</h1>

<% if @article.errors.any? %>
<p>
    <h2>Could not EDIT the article due to following errors:</h2>
    <ul>
        <% @article.errors.full_messages.each do |err| %>
        <li><%= err %></li>
        <% end %>
    </ul>
</p>
<% end %>

<%= form_with(model: @article, local: true) do |f| %>
<p>
    <%= f.label :title%><br/>          <!-- #This is visible as <label for="article_title">Title</label> -->
    <%= f.text_field :title%>
</p>

<p>
    <%= f.label :description%><br/>
    <%= f.text_area :description%>
</p>

<p>
    <%= f.submit%>
</p>
<% end %>

<p>
    <%= link_to 'Back to list', articles_path%>
</p>

<p>
    <%= link_to 'Home', root_path%> |
    <%= link_to 'About us', about_path%>
</p>