<div style="background-color:lightgrey">
    <h1 class="text-center text-success">Articles table</h1>

    <div class="container" style="background-color:lightgrey">
        <div class="row justify-content-md-center mt-4">
            <div class="col-8">
                <%= link_to 'Create new article', new_article_path, class:"btn btn-outline-success mt-4"%>
            </div>
        </div>

        <% @users.each do |user|%>
            <div class="row justify-content-md-center mt-4">
                <div class="col-8">
                    <div class="card shadow bg-white">
                        
                        <div class="card-header text-center font-italic">
                            <%= user.id%>
                            Username: <%= user.username %>
                        </div>
                        
                        <div class="card-body text-center">
                            <h5 class="card-title"><%= link_to user.username, article_path(user), class:"text-success" %></h5>
                            <p class="card-text"><%= user.email %> </p>
                            <%= link_to "View", user_path(user), class:"btn btn-outline-secondary"%>
                            <%= link_to "Edit", edit_user_path(user), class:"btn btn-outline-success"%>
                            <%= link_to "Delete", users_path(user), method: :delete, class:"btn btn-outline-danger" %>
                        </div>

                        <div class="card-footer text-muted">
                            <small>Created <%= time_ago_in_words(user.created_at )%> ago, 
                            Edited <%= time_ago_in_words(user.updated_at)%> ago</small>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>

        <div class="row justify-content-md-center mt-4" style="margin-left:750px;">
            <div class="col-12">
            <%= link_to 'Sign up!', signup_path, class:"btn btn-outline-success mt-4 bg-light"%>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-8">
                <%= link_to 'Home', root_path, class:"btn btn-outline-success mt-4"%> 
                <div class="col-12" style="margin-top: -60px; margin-left:620px">
                <%= link_to 'About us', about_path, class:"btn btn-outline-success mt-4 justify-content-md-center mt-4"%>
                </div>
            </div>
        </div>

    </div>
</div>
