<div class="page-content container">
    <h1 class="text-center text-success mt-4"><%= @user.username%>'s profile</h1>
    <%= gravatar_for @user, size: 200 %>

    <% if logged_in? && @user == current_user %>
        <div class="text-center mt-4">
            <%= link_to "Edit profile", edit_user_path(@user), class:"btn btn-outline-primary"%>
            <%= link_to "Delete profile", user_path(current_user), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-outline-danger"%>
        </div>
    <% end %>

    <h3 class="text-center text-success mt-4">Articles</h3>

    <div class="flickr_pagination">
        <%= will_paginate @articles, :container => false %>
    </div>

    <%= render 'articles/article'%>

    <div class="flickr_pagination mb-4">
        <%= will_paginate @articles, :container => false %>
    </div>
</div>